.accordion {
  border-bottom: 2px solid rgba(78, 78, 78, 0.2);
  margin-top: 0.3rem;
}

.accTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.accTitle span {
  display: flex;
  align-items: center;
}

.accDesc {
  display: flex;
  margin-left: 2.2rem;
  padding-bottom: 0.5rem;

  font-size: 20px;
}
