.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 2rem 9.7rem;
  margin-bottom: 2rem;
  width: 100vw;
  top: 0;

  /* fix: 반응형 */
  /* background-color: rgba(248, 244, 245, 0.5); */
  backdrop-filter: blur(10px);
}

.headerLogo {
  font-size: 24px;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  font-size: 19px;
}
