.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 2rem 9.7rem;
  width: 100vw;
  top: 0;

  /* fix: 반응형 */
  /* background-color: rgba(248, 244, 245, 0.5); */
  backdrop-filter: blur(10px);
}

.headerLogo {
  font-size: 24px;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  gap: 3rem;

  font-size: 19px;
}

/* media query breakpoints */

@media (max-width: 1280px) {
  .header {
    padding: 2rem 8rem;
  }
  .headerMenu {
    font-size: 17px;
    gap: 3rem;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 1.8rem 6.7rem;
  }
  .headerLogo {
    font-size: 21px;
  }
  .headerMenu {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 1.6rem 4.2rem;
    margin-bottom: 0;
  }
  .headerLogo {
    font-size: 20px;
  }
  .headerMenu {
    gap: 2rem;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 1.2rem 2.5rem;
  }
  .headerLogo {
    font-size: 18px;
  }
  .headerMenu {
    font-size: 13px;
    gap: 1rem;
  }
}
