.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 20px;
  top: 0;

  background-color: rgba(248, 247, 245, 0.9);
  border-bottom: 2px solid #cecece;
}

.headerLogo {
  margin-left: 20px;
  font-weight: 500;
}

.headerMenu {
  display: flex;
  margin-right: 20px;
  gap: 3rem;
}
