* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --point-color: #5f8723;
  --point-color-opaque: rgba(122, 169, 52, 0.7);

  --global-green: rgb(95, 135, 35);
  --global-red: rgb(214, 59, 59);

  --dark-grey: #666;
  --bright-grey: #aaa;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: var(--font-pretendard, sans-serif);

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("/images/profile/profile-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  line-height: 1.6;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0 7rem;

  background-color: rgba(247, 243, 244, 0.9);
}

footer {
  color: var(--dark-grey);
  font-size: 18px;
  text-align: center;

  padding: 2rem 0;
  border: none;
  border-top: 1px solid #c8c8c8;

  background-color: rgba(247, 243, 244, 0.9);
}

/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

a {
  text-decoration: none;
  color: inherit;
}

svg {
  flex-shrink: 0;
  margin-right: 10px;
}

/* 형광펜 효과 */
.highlighter {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: inherit;

  background: linear-gradient(
    to right,
    var(--point-color-opaque) 0%,
    var(--point-color-opaque) 100%
  ); /* direction, color-stop1, color-stop2 */
  background-position: 0 calc(100% - 5px); /* 밑줄 위치 */
  background-size: 0 26px; /* 밑줄 높이 */
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-size: 100% 26px;
    font-weight: 600;
    text-decoration-thickness: 2px;
  }

  cursor: pointer;
}

@media (max-width: 1280px) {
  section {
    padding: 0 5.5rem;
  }
}
@media (max-width: 1024px) {
  :root {
    --point-color: rgb(205, 175, 24);
    --point-color-opaque: rgba(205, 175, 24, 0.7);
  }
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url("/images/profile/profile-3.jpg");
  }
  section {
    padding: 0 4rem;
  }
  footer {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 0 1.5rem;
  }
  footer {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  section {
    padding: 0;
  }
  footer {
    font-size: 13px;
  }
}
