* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: var(--font-pretendard, sans-serif);
}

body {
  line-height: 1.6;
  background-color: #f8f4f5;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  color: black;
  text-align: center;
  padding: 1rem 0;
}

/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

a {
  text-decoration: none;
  color: inherit;
}

/* media query breakpoints */
/*
@media (max-width: 1024px) {}
@media (max-width: 768px) {}
@media (max-width: 480px) {}
*/
