* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: var(--font-pretendard, sans-serif);

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("/images/profile/profile-2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body {
  line-height: 1.6;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 0 7rem;

  background-color: rgba(247, 243, 244, 0.9);
}

footer {
  color: #4e4e4e;
  font-size: 18px;
  text-align: center;

  padding: 2rem 0;
  border: none;
  border-top: 1px solid #c8c8c8;

  background-color: rgba(247, 243, 244, 0.9);
}

/* ::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1280px) {
  section {
    padding: 0 5.5rem;
  }
}
@media (max-width: 1024px) {
  section {
    padding: 0 4rem;
  }
  footer {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  section {
    padding: 0 1.5rem;
  }
  footer {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  section {
    padding: 0;
  }
  footer {
    font-size: 13px;
  }
}
