.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.titleSection,
.summarySection,
.skillSection {
  margin-bottom: 2rem;
}
.titleSection h1 {
  font-size: 40px;
  margin: 0;
  word-break: keep-all;
}
.titleSection p {
  font-size: 20px;
  color: #4e4e4e;
}

.summarySection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.summarySection div {
  margin-bottom: 1rem;
}
.summarySection h2 {
  font-size: 26px;
  margin-bottom: 0.5rem;
}
.summarySection p {
  font-size: 24px;
}

.details p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
