.email {
  font-size: 66px;
  font-weight: bold;
  margin-bottom: 3rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.msg {
  font-size: 30px;
  font-weight: 600;
  color: darkgrey;
}

.msg.copied,
.msg.success {
  color: rgba(62, 136, 62, 0.8);
}

.msg.fail {
  color: rgba(214, 59, 59, 0.8);
}
