.contactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 70%;
  max-width: 1170px;
  margin: 0 auto;
}

.contactEmail {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 70px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.contactMsg {
  font-size: 22px;
  color: darkgrey;
  margin-bottom: 10px;
}
