.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 7rem;
}

.inputGroup {
  position: relative;
  margin-top: 4rem;
  border-bottom: 2px solid darkgrey;
  transition: all 0.2s;
}

.inputGroup:focus-within {
  border-bottom-color: #666;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  border: none;
  background: none;
  padding-left: 10px;
  padding-bottom: 10px;

  position: relative;
  z-index: 1; /* label 위에서도 클릭가능 */

  font-size: 20px;
  font-family: var(--font-pretendard);

  &:focus {
    outline: none;
  }

  /* focus 됐을 때만 placeholder 보이도록 설정 */
  &::placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &:focus::placeholder {
    color: darkgrey;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
}

.inputGroup input {
  &:focus ~ label,
  &:valid ~ label {
    font-size: 20px;
    bottom: 3rem;
    color: #666;
    font-weight: bold;
  }

  /* 자동완성 시 background-color 제거 */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

.inputGroup textarea {
  border: none;
  resize: none;
  overflow: hidden;

  &:focus ~ label,
  &:valid ~ label {
    font-size: 20px;
    bottom: calc(100% + 10px);
    color: #666;
    font-weight: bold;
  }
  margin-bottom: -5px;
  line-height: 2rem;
}

.inputGroup label {
  position: absolute;
  color: darkgrey;
  left: 10px;
  font-size: 22px;
  bottom: 10px;
  transition: all 0.2s;
}

.contactContent button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 2rem;
  border: none;
  background: none;
  cursor: pointer;

  color: darkgrey;
  font-size: 20px;
  font-family: var(--font-pretendard);
}

/* 유효성검사 실패시 메시지 */
.errorText {
  color: red;
  font-size: 18px;
  margin: 0.5rem;
}
