.email {
  font-size: 66px;
  font-weight: bold;
  margin-bottom: 3rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.msg {
  font-size: 30px;
  font-weight: 600;
  color: darkgrey;
}

.msg.clicked {
  color: rgba(62, 136, 62, 0.827);
}
