.homeHeader {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
  width: auto;
}

.homeHeader a {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  transition: color 0.2s ease;

  &:hover {
    color: rgb(132, 184, 107);
    text-decoration-line: underline;
  }
}

.resumeBox {
  align-items: center;
  font-size: 15px;
}

@media (max-width: 1280px) {
  .homeHeader a {
    font-size: 20px;
  }
  .resumeBox {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .homeHeader a {
    font-size: 18px;
  }
  .resumeBox {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .resumeBox {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .headerLink {
    font-size: 16px;
  }
}
