.homeHeader {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 9rem;
}

.headerLink {
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.headerLinkResume {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 15px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .homeHeader {
    margin: 0 5rem;
  }
  .headerLink {
    font-size: 20px;
  }
  .headerLinkResume {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .homeHeader {
    margin: 0 3.5rem;
  }
  .headerLink {
    font-size: 18px;
  }
  .headerLinkResume {
    font-size: 11px;
  }
}
@media (max-width: 480px) {
  .homeHeader {
    margin: 0 1.2rem;
  }
  .headerLink {
    font-size: 15px;
  }
}
