.homeContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  gap: 30px;
  margin: 0 7.5rem;
}

.homeGreetings {
  font-size: 45px;
  line-height: 4rem;
  word-break: keep-all;
}

.homeGreetings strong {
  margin-right: 8px;
}

.homeIntroduce {
  font-size: 26px;
  font-weight: 300;
}

@media (max-width: 1280px) {
  .homeContent {
    margin: 0 6rem;
  }
  .homeGreetings {
    font-size: 40px;
  }
  .homeIntroduce {
    font-size: 26px;
  }
}
@media (max-width: 1024px) {
  .homeContent {
    margin: 0 4.5rem;
  }
  .homeGreetings {
    font-size: 36px;
  }
  .homeIntroduce {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .homeContent {
    margin: 0 2rem;
  }
  .homeGreetings {
    font-size: 38px;
    line-height: 3.5rem;
  }
  .homeIntroduce {
    font-size: 22px;
  }
}
@media (max-width: 640px) {
  .homeContent {
    margin: 0;
  }
  .homeGreetings {
    font-size: 30px;
    line-height: 3rem;
  }
  .homeIntroduce {
    font-size: 20px;
  }
}
