.homeContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  gap: 30px;
  margin: 0 70px;
}

.homeGreetings {
  font-size: 45px;
  line-height: 4rem;
  word-break: keep-all;
}

.homeGreetings strong {
  margin-right: 8px;
}

.homeIntroduce {
  font-size: 25px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .homeContent {
    margin: 0 50px;
  }
  .homeGreetings {
    font-size: 40px;
  }
  .homeIntroduce {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .homeContent {
    margin: 0 30px;
  }
  .homeGreetings {
    font-size: 38px;
    line-height: 3.5rem;
  }
  .homeIntroduce {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .homeContent {
    margin: 0 10px;
  }
  .homeGreetings {
    font-size: 30px;
    line-height: 3rem;
  }
  .homeIntroduce {
    font-size: 20px;
  }
}
