.homeHeader {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 1rem 13rem;
}

.headerLink {
  flex: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.headerLinkResume {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 15px;
  font-weight: 300;
}

@media (max-width: 1280px) {
  .homeHeader {
    margin: 1rem 9rem;
  }
  .headerLink {
    font-size: 20px;
  }
  .headerLinkResume {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .homeHeader {
    margin: 1rem 7rem;
  }
  .headerLink {
    font-size: 18px;
  }
  .headerLinkResume {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .homeHeader {
    margin: 1rem 3rem;
  }
  .headerLinkResume {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .homeHeader {
    margin: 0.1rem;
  }
  .headerLink {
    font-size: 16px;
  }
}
