.homeContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  padding: 70px 100px;
  gap: 30px;
}

.homeGreetings {
  font-size: xx-large;
  line-height: 3rem;
}

.homeIntroduce {
  font-size: 20px;
  font-weight: 300;
}

.homeIntroduce div {
  margin-bottom: 15px;
}
