.homeHeader {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 40px;
  margin: 0 100px;
}

.headerLink {
  flex: 1;
  text-align: center;

  font-size: 20px;
  font-weight: 500;
}

.headerLinkResume {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;

  font-size: 12px;
  font-weight: 300;
}
